/* CSS Reset - Clean all default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  line-height: 0.7;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  background-color: #272C33;
  color: #2E2C31;

}

button,
input,
textarea,
select {
  font: inherit;
  margin: 0;
}